<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Users</key>
	<array>
		<dict>
			<key>username</key>
			<string>harman</string>
			<key>password</key>
			<string>123</string>
		</dict>
		<dict>
			<key>username</key>
			<string>megha</string>
			<key>password</key>
			<string>m123</string>
		</dict>
		<dict>
			<key>username</key>
			<string>jassi</string>
			<key>password</key>
			<string>j123</string>
		</dict>
		<dict>
			<key>username</key>
			<string>abhi</string>
			<key>password</key>
			<string>a123</string>
		</dict>
		<dict>
			<key>username</key>
			<string>cammy</string>
			<key>password</key>
			<string>abc</string>
		</dict>
	</array>
</dict>
</plist>
