<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>camy@gmail.com</string>
		<key>password</key>
		<string>camy321</string>
	</dict>
	<dict>
		<key>username</key>
		<string>sachin@gmail.com</string>
		<key>password</key>
		<string>sachin321</string>
	</dict>
	<dict>
		<key>username</key>
		<string>megha@gmail.com</string>
		<key>password</key>
		<string>megha321</string>
	</dict>
	<dict>
		<key>username</key>
		<string>ankita@gmail.com</string>
		<key>password</key>
		<string>ankita321</string>
	</dict>
	<dict>
		<key>username</key>
		<string>simran@gmail.com</string>
		<key>password</key>
		<string>simran321</string>
	</dict>
</array>
</plist>
